"" Source your .vimrc
"source ~/.vimrc

set ignorecase
set smartcase
set ideajoin
set NERDTree
set commentary
set highlightedyank

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set multiple-cursors
set clipboard+=unnamed
set surround
set sneak

sethandler <c-a> a:vim
sethandler <c-b> a:vim
sethandler <c-c> a:ide
sethandler <c-d> a:vim
sethandler <c-e> a:ide
sethandler <c-f> a:ide
sethandler <c-g> a:ide
sethandler <c-h> a:ide
sethandler <c-i> a:vim
sethandler <c-j> a:ide
sethandler <c-k> a:vim
sethandler <c-l> a:ide
sethandler <c-m> a:ide
sethandler <c-n> a:ide
sethandler <c-o> a:vim
sethandler <c-p> a:ide
sethandler <c-q> a:ide
sethandler <c-r> a:vim
sethandler <c-s> a:ide
sethandler <c-t> a:ide
sethandler <c-u> a:vim
sethandler <c-v> a:vim
sethandler <c-w> a:vim
sethandler <c-x> a:ide
sethandler <c-y> a:ide
sethandler <c-z> a:ide

nmap Y y$
nmap <c-d> <c-d>zz
nmap <c-u> <c-u>zz

nnoremap c \"_c
nnoremap cc \"_S
nnoremap C \"_C
nnoremap s \"_s
vnoremap s \"_s
xnoremap s \"_s
nnoremap S \"_S
vnoremap S \"_S
xnoremap S \"_S
nnoremap d \"_d
vnoremap d \"_d
xnoremap d \"_d
nnoremap dd \"_dd
nnoremap D \"_D
nnoremap x d
vnoremap x d
nnoremap xx dd
nnoremap X D
xnoremap p pgvy

let mapleader = " "

nnoremap <leader>si :source ~/.ideavimrc<cr>
" See :actionlist
nmap <CR> ciw

nmap gt <Action>(GotoTest)
nmap gi <Action>(GotoImplementation)
nmap gs <Action>(GotoSuperMethod)
nmap gh <Action>(ShowErrorDescription)
nmap gr <Action>(FindUsages)

nmap gcc <Action>(CommentByLineComment)
vnoremap gc <Action>(CommentByLineComment)
xnoremap gc <Action>(CommentByLineComment)

nmap <leader>gg <Action>(Generate)
nmap <leader>gt <Action>(GenerateTestMethod)

nmap <leader>nc <Action>(NewClass)
nmap <leader>nd <Action>(NewDir)

nmap <leader>rr <Action>(RefactoringMenu)
nmap <leader>rm <Action>(ExtractMethod)
nmap <leader>rc <Action>(IntroduceConstant)
nmap <leader>rv <Action>(IntroduceVariable)
nmap <leader>ri <Action>(Inline)

nmap <leader>dd gg<Action>(DebugClass)``
nmap <leader>dm <Action>(RunMenu)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dB <Action>(Debugger.RemoveAllBreakpointsInFile)
nmap <leader>de <Action>(EditBreakpoint)
nmap <leader>da <Action>(ToggleBreakpointEnabled)

nmap <leader>yy <Action>(Bitbucket.CopyFileUrlInBitbucket)
nmap <leader>ys <Action>(SonarLint.AnalyzeChangedFiles)
nmap <leader>yg <Action>(Gradle.RefreshDependencies)

nmap <leader>j <Action>(GotoNextError)
nmap <leader>k <Action>(GotoPreviousError)

nmap <leader>e :NERDTreeFocus<cr>

nmap <leader>z <Action>(ToggleDistractionFreeMode)
nmap <c-m> <Action>(MoveEditorToOppositeTabGroup)

nmap <left> <c-w>h
nmap <right> <c-w>l
nmap <down> <c-w>j
nmap <up> <c-w>k

nmap <a-a> <Action>(GotoHarpoon1)
nmap <a-s> <Action>(GotoHarpoon2)
nmap <a-d> <Action>(GotoHarpoon3)
nmap <a-f> <Action>(GotoHarpoon4)
nmap <a-g> <Action>(GotoHarpoon5)
nmap <leader>h <Action>(ShowHarpoon)
nmap <leader>m <Action>(AddToHarpoon)