"" Source your .vimrc
"source ~/.vimrc

set ignorecase
set smartcase
set ideajoin
set NERDTree
set commentary
set highlightedyank

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set multiple-cursors
set clipboard+=unnamed
set surround
set sneak

sethandler <c-a> a:vim
sethandler <c-b> a:vim
sethandler <c-c> a:ide
sethandler <c-d> a:vim
sethandler <c-e> a:ide
sethandler <c-f> a:ide
sethandler <c-g> a:ide
sethandler <c-h> a:ide
sethandler <c-i> a:vim
sethandler <c-j> a:ide
sethandler <c-k> a:vim
sethandler <c-l> a:ide
sethandler <c-m> a:ide
sethandler <c-n> a:ide
sethandler <c-o> a:vim
sethandler <c-p> a:ide
sethandler <c-q> a:ide
sethandler <c-r> a:vim
sethandler <c-s> a:ide
sethandler <c-t> a:ide
sethandler <c-u> a:vim
sethandler <c-v> a:vim
sethandler <c-w> a:vim
sethandler <c-x> a:ide
sethandler <c-y> a:ide
sethandler <c-z> a:ide

" Don't use Ex mode, use Q for formatting.
map Q gq
map Y y$

nnoremap c \"_c
nnoremap cc \"_S
nnoremap C \"_C
nnoremap s \"_s
vnoremap s \"_s
xnoremap s \"_s
nnoremap S \"_S
vnoremap S \"_S
xnoremap S \"_S
nnoremap d \"_d
vnoremap d \"_d
xnoremap d \"_d
nnoremap dd \"_dd
nnoremap D \"_D
nnoremap x d
vnoremap x d
nnoremap xx dd
nnoremap X D
xnoremap p pgvy

let mapleader = " "

nnoremap <leader>si :source ~/.ideavimrc<cr>
" See :actionlist
nmap <CR> ciw

map gt <Action>(GotoTest)
map gi <Action>(GotoImplementation)
map gs <Action>(GotoSuperMethod)
map gh <Action>(ShowErrorDescription)
map gr <Action>(FindUsages)

map gcc <Action>(CommentByLineComment)
vnoremap gc :action CommentByLineComment<cr>
xnoremap gc :action CommentByLineComment<cr>

map <leader>gg <Action>(Generate)
map <leader>gt <Action>(GenerateTestMethod)

map <leader>nc <Action>(NewClass)
map <leader>nd <Action>(NewDir)

map <leader>rr <Action>(RefactoringMenu)
map <leader>rm <Action>(ExtractMethod)
map <leader>rc <Action>(IntroduceConstant)
map <leader>rv <Action>(IntroduceVariable)

map <leader>dd gg<Action>(DebugClass)``
map <leader>dm <Action>(RunMenu)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dB <Action>(Debugger.RemoveAllBreakpointsInFile)
map <leader>de <Action>(EditBreakpoint)
map <leader>da <Action>(ToggleBreakpointEnabled)

map <leader>yy <Action>(Bitbucket.CopyFileUrlInBitbucket)

map <leader>j <Action>(GotoNextError)
map <leader>k <Action>(GotoPreviousError)

map <leader>e :NERDTreeFocus<cr>
map <leader>m <Action>(PinActiveTabToggle)
map <leader>1 <Action>(GoToTab1)
map <leader>2 <Action>(GoToTab2)
map <leader>3 <Action>(GoToTab3)
map <leader>4 <Action>(GoToTab4)
map <leader>5 <Action>(GoToTab5)

map <leader>z <Action>(ToggleDistractionFreeMode)
map <c-m> <Action>(MoveEditorToOppositeTabGroup)

map <left> <c-w>h
map <right> <c-w>l
map <down> <c-w>j
map <up> <c-w>k
